@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d04e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: "Figtree";
}

.card {
  background-color: white;
  width: 384px;
  height: 522px;
  padding: 24px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1.5px solid #000;

  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);

  transition: 200ms ease-in-out;

  cursor: pointer;
}

.card > img {
  width: 336px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card-category {
  width: 90px;
  height: 34px;
  background-color: #f4d04e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  padding: 12px 4px;

  margin-bottom: 12px;
}

.card-category > p {
  font-weight: bolder;
}

span {
  font-weight: 600;
  line-height: 150%;
  font-size: 14px;

  color: #111111;
}

.card > h3 {
  font-size: 24px;
  font-weight: bolder;
  line-height: 150%;
  margin-top: 12px;

  transition: 150ms ease-in-out;
}

.card > p {
  font-size: 16px;
  font-weight: 400;

  color: #6b6b6b;
  line-height: 150%;
  margin-top: 12px;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.card-profile > img {
  width: 32px;
  height: 32px;
}

.card-profile > p {
  font-size: 14px;
  font-weight: bolder;
}

/* Animation */

.card:hover {
  transform: scale(1.025);
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
}

.card > h3:hover {
  color: #f4d04e;
}
